name: Generate 3D Contribution Graph

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: thanghoang0163

      - uses: EndBug/add-and-commit@v9
        with:
          add: "profile-3d-contrib"
          message: "chore: update 3D contribution graph"
